.d3-chart {
}

.d3-chart__container {
  background-color: $plum;
  border-radius:10px;
  display: inline-block;
  height: 500px;
  width: 700px;
  margin: 20px;
  // padding: 10px;
}

.d3-chart__svg__bar {
  stroke: $peach;
  stroke-width: 2px;
}

.d3-chart__svg__axis .tick line {
  stroke: white;
}

.d3-chart__svg__axis .tick text {
  transform: translateY(3px);
  fill: white;
  font-size: 1.5em;
}

.d3-chart__svg__axis .domain{
  stroke: white;
}

.d3-chart__svg__axis .domain{
  stroke: white;
}





// ugly -- use some cool scss later
.d3-chart__svg__bar--red {
  fill: red;
}

.d3-chart__svg__bar--blue {
  fill: blue;
}

.d3-chart__svg__bar--green {
  fill: green;
}

.d3-chart__svg__bar--yellow {
  fill: #FFEB5B;
}

.d3-chart__svg__bar--black {
  fill: black;
}

.d3-chart__svg__bar--white {
  fill: white;
}
