.d3-chart {
}

.d3-chart__container {
  background-color: $plum;
  border-radius:10px;
  display: inline-block;
  height: 300px;
  margin: 20px;
  // padding: 10px;
}

.d3-chart__svg__bar {
  stroke: $peach;
  stroke-width: 2px;
}

.d3-chart__svg__bar--red {
  fill: red;
}

.d3-chart__svg__bar--blue {
  fill: blue;
}

.d3-chart__svg__bar--green {
  fill: green;
}
